<ion-content>
  <ion-list
    class="opportunities-list"
    *ngIf="topics$ | async as topics; else loading"
  >
    <ion-item
      *ngIf="topics.length === 0"
      lines="full"
      detail="false"
      class="message"
    >
      <ion-label>No opportunities</ion-label>
    </ion-item>
    <jlat-opportunity-item
      [detail]="true"
      [topic]="topic"
      *ngFor="let topic of topics; trackBy: trackByTopicId"
      [routerLink]="['/forum', 'topic', topic.id]"
    ></jlat-opportunity-item>
  </ion-list>
</ion-content>
<ng-template #loading>
  <jlc-skeleton-list></jlc-skeleton-list>
</ng-template>
