.profile-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin-bottom: 20px;
}

.profile-form > label {
  width: 100%;
}

textarea {
  resize: vertical;
}
