:host {
  --icon-background: var(--tertiary-color);
  --icon-size: 20px;
  --space: 10px;
  --description-color: var(--medium-color);
  --header-font-color: var(--primary-font-color);
  --font-size: 1rem;
}

.item {
  --padding-start: 0;
}

.skeleton {
  --icon-background: var(--light-color);
}

.content {
  width: 100%;
  margin: var(--space);
  font-size: var(--font-size);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--icon-background);
  border-radius: 50%;
  padding: 10px;
  width: fit-content;
  flex-shrink: 0;
  margin-right: var(--space);
}

.icon ion-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--primary-contrast-color);
}

.row {
  display: flex;
  align-items: center;
}

.row.space {
  justify-content: space-between;
}

.header {
  flex: 1;
  color: var(--header-font-color);
}

.author {
  text-transform: capitalize;
}

.author,
.title {
  font-weight: bold;
}

.note {
  color: var(--description-color);
  font-style: italic;
}

.description {
  color: var(--description-color);
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: calc(var(--space) / 2) 0;
  font-size: 0.9rem;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
