:host {
  --space: 20px;
  --button-padding: 5px;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  max-width: 75%;
}

ion-button {
  --padding-start: var(--button-padding);
  --padding-end: var(--button-padding);
  margin: 0;
}
