:host {
  --space: 10px;

  display: block;
  padding: 24px;
}

form > *:not(:last-child) {
  display: block;
  margin-bottom: var(--space);
}

textarea {
  resize: none;
}

.action-buttons {
  margin: calc(var(--space) * 2) auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.action-buttons > *:not(:first-child) {
  margin-left: calc(var(--space) * 2);
}

.discard-button {
  background: var(--tertiary-gradient);
}
