<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Customizations</ion-title>
  </ion-toolbar>
  <jlc-tab-bar>
    <jlc-tab-button absoluteLink="/customizations/stages">
      Matter Stages
    </jlc-tab-button>
    <jlc-tab-button absoluteLink="/customizations/checklist">
      Matter Closing Checklist
    </jlc-tab-button>
  </jlc-tab-bar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
