:host {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}

label {
  margin-bottom: 11px;
}

input,
textarea {
  margin-top: 4px;
}

textarea {
  padding: 20px 15px 15px 20px;
  width: 100%;
}

button {
  min-width: 160px;
}

form {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: initial;
}

.content {
  text-align: initial;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.secondary {
  margin-right: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.radio-label {
  display: flex;
  align-items: center;
}
.radio-label input[type="radio"] {
  margin: 0 10px 0 0;
}
