<jlc-login-page-container class="page-container">
  <div class="auth-container">
    <div class="logo-container">
      <jlc-logo class="logo"></jlc-logo>
      <div class="page-title">Forgot Password</div>
    </div>
    <div *ngIf="isSuccess$ | async">
      <div class="text-bold">
        Success! Check your email to complete password reset.
      </div>
    </div>
    <div *ngIf="!(isSuccess$ | async)">
      <form [formGroup]="form" (ngSubmit)="onFormSubmitted()">
        <div>
          <label>
            <div class="text-bold">Email*</div>
            <input
              type="email"
              formControlName="email"
              [jlcApiValidation]="validationError$"
            />
            <jlc-form-control-validation-message controlName="email">
            </jlc-form-control-validation-message>
          </label>
        </div>
        <div
          class="error-container"
          *ngIf="errorMessage$ | async as errorMessage"
        >
          {{ errorMessage }}
        </div>
        <div>
          <button class="primary">Submit</button>
        </div>
      </form>
    </div>
    <div>
      <button routerLink="/auth/login" class="secondary">Back to Login</button>
    </div>
  </div>
</jlc-login-page-container>
