:host {
  --space: 10px;
}

.payment-form {
  margin: var(--space) 0;
  display: block;
}

.buttons-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--space);
}

.content {
  padding: var(--space);
}

h2 {
  margin: 10px 0;
  color: var(--primary-color);
  font-weight: normal;
}

section {
  margin-bottom: 20px;
}

jlc-payment-method-form {
  padding: 15px;
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
}
